<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orega Game Studios</title>
    <meta name="description" content="Orega" />
    <meta name="keywords" content="Orega" />
    <meta name="author" content="Orega" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/Orega Game Studios.css')}}"  />
    <link rel="shortcut icon" href="static/img/CGvuqadTWhk.jpg" />
    <script
      src="https://kit.fontawesome.com/1e938fdd74.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <nav class="main-nav">
        <a href="index.html">
        </a>
        <ul class="main-menu">
          <li><a href="/home">Orega</a></li>
          <li><a href="">Наши студии</a></li>
          <li><a href="/ourprojectsgame">Игры</a></li>
          <li><a href="">Игровая приставка</a></li>
          <li><a href="/plansgame">Задачи до 2030 года</a></li>
          <li><a href="">Техническая поддержка</a></li>
          <li><a href="">Вакансии</a></li>
        </ul>
      </nav>
      <header class="showcase">
        </a>
      </header>
      <section class="home-cards">
        <div>
          <img src="static/img/562145_fM3bwlm6ZX_fifa_22.jpg" alt="" />
          <h3>Футбольный симулятор</h3>
          <p>
            Многие уже наверняка догадывались, но пришло время официально раскрыть все тайны! В 2025 году выходит футбольный симулятор на PC, на игровые приставки и на мобильные устройства.
          </p>
            <a href="/footballsimulator">Сайт игры<i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="static/img/3610f220256471.562e85dbd0a66.jpg" alt="" />
          <h3>Когда выйдет онлайн-шутер, который должен стать конкурентом Call of Duty, Counter-Strike,Battlefield, Apex Legends?</h3>
          <p>
            Релиз игры состоится в 2024 году, сама игра выйдет на PC, на мобильных устройствах и на игровых консолях.
          </p>
            <a href="/fps">Сайт игры<i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="static/img/B_75LLSaI3A.jpg" alt="" />
          <h3>Секретная презентация Y8 2023</h3>
          <p>
            15 августа наша команда представит совершенно новый продукт. Презентация начнётся ровно в 21:00 по Москве. Смотрите прямую трансляцию!
          </p>
          <a href="https://vk.com/y8_conference">Группа в ВКонтакте<i class="fa-solid fa-chevron-right"></i></a>
        </div>
      </section>
      <section class="xbox">
        <div class="content">
          <h2>Orega Pass</h2>
          <p>
            Подписка Orega Pass включает в себя доступ к сотням высококачественных игр. Играйте в игры с друзьями на консоли и ПК — и все это по одной низкой ежемесячной цене.
          </p>
          <a href="/oregapass" class="btn">
            Купить<i class="fa-solid fa-chevron-right"></i>
          </a>
        </div>
      </section>
        </a>
      </section>
    </div>
    <section class="links">
      <div class="links-inner">
        <ul>
          <li><h3>Подробнее о нас</h3></li>
          <li><a href="#">Для инвесторов</a></li>
          <li><a href="#">Карьера</a></li>
          <li><a href="#">Офисы</a></li>
          <li><a href="/plansgame">Цели на период до 2027 года</a></li>
        </ul>
        <ul>
          <li><h3>Мы в социальных сетях</h3></li>
          <li><a href="https://vk.com/oregagamestudioss">Вконтакте</a></li>
          <li><a href="https://www.youtube.com/channel/UCz7i_zZW0iYAQRsA5jXnKwQ">YouTube</a></li>
        </ul>
        <ul>
          <li><h3>Свяжитесь с нами</h3></li>
          <li><a href="#">Партнёрство</a></li>
        </ul>
      </div>
    </section>
      </div>
    </footer>
  </body>
</html>