<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orega</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/style.css')}}" />
    <link rel="shortcut icon" href="static/img/3qx4kQolGtY.jpg" />
  </head>
  <body>
    <div class="container">
      <nav class="main-nav">
          <img src="static/img/3qx4kQolGtY.jpg" alt="Orega" class="logo" />
        </a>
        <ul class="main-menu">
          <li><a href="">Orega Office</a></li>
          <li><a href="/OregaAi">Orega AI</a></li>
          <li><a href="/game">Game</a></li>
          <li><a href="https://vk.com/oregastore">Orega Store</a></li>
          <li><a href="/orega_media_holding">Orega-Медиа Холдинг</a></li>
          <li><a href="/oregapass">Orega Plus</a></li>
          <li><a href="/ourprojects">Наши проекты</a></li>
        </ul>
      </nav>
      <header class="showcase">
        </a>
      </header>
      <section class="home-cards">
        <div>
          <img src="static/img/nyfT--6-V54.jpg" alt="" />
          <h3>Orega Store</h3>
          <p>
            Все готовы? Уже в 2024 году состоится запуск площадки для игр, программ и так далее, а сама площадка будет доступна на PC, на мобильных устройствах и так далее.
            Мы тщательно готовимся к этому дню. Нам важно создать действительно удобную качественную площадку для разработчиков и пользователей, именно поэтому в ее разработке принимает участие целая команда профессионалов.
            Совсем скоро мы начнем погружать вас во все подробности, знакомить с площадкой и рассказывать о том, чем готовы удивить и порадовать. Следите за новостями!
          </p>
            <a href="https://vk.com/oregastore">Группа Orega Store в ВКонтакте<i class="fa-solid fa-chevron-right"></i></a>
            <a href="https://disk.yandex.ru/d/HDwytnNaUoObJw">Материалы Orega Store<i class="fa-solid fa-chevron-right"></i></a>

        </div>
        <div>
          <img src="static/img/B_75LLSaI3A.jpg" alt="" />
          <h3>Секретная презентация Y8 2023</h3>
          <p>
            15 августа наша команда представит совершенно новый продукт. Презентация начнётся ровно в 21:00 по Москве. Смотрите прямую трансляцию!
          </p>
          <a href="https://vk.com/y8_conference">Группа в ВКонтакте<i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="static/img/1-2020-09-23T182801.086.webp" alt="" />
          <h3>Наша команда готовит конкурента для ChatGPT?</h3>
          <p>
            Да, на онлайн-презентации наша команда представит конкурента ChatGPT.
          </p>
            <a href="https://vk.com/oregaai">Группа команды Orega Ai в ВКонтакте <i class="fa-solid fa-chevron-right"></i></a>
            <a href="/OregaAi">Сайт команды Orega Ai  <i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="static/img/MJOqUTU__Gk.jpg" alt="" />
          <h3>Социальная сеть</h3>
          <p>
            В 2023 году мы представим социальную сеть.
          </p>
          <a href="https://vk.com/fabricatemessenger">Группа социальной сети в ВКонтакте <i class="fa-solid fa-chevron-right"></i></a>
        </div>
      </section>
      <section class="re">
        <div class="content">
          <h2>Orega Plus</h2>
          <p>
            С Orega Plus можно выгодно ездить на Такси, покупать товары и еду из кафе, ресторанов и магазинов по выгодным ценам, без ограничений слушать музыку, смотреть фильмы и сериалы в высоком качестве и пользоваться другими предложениями. Для тех, кто в Плюсе, проводятся специальные акции, закрытые распродажи и мероприятия.
          </p>
          <a href="/oregapass" class="btn">
            Купить<i class="fa-solid fa-chevron-right"></i>
          </a>
        </div>
      </section>
        </a>
      </section>
    </div>
    <section class="links">
      <div class="links-inner">
        <ul>
          <li><h3>Подробнее о нас</h3></li>
          <li><a href="#">Для инвесторов</a></li>
          <li><a href="#">Карьера</a></li>
          <li><a href="#">Офисы</a></li>
          <li><a href="#">Цели на период до 2030 года</a></li>
        </ul>
        <ul>
          <li><h3>Мы в социальных сетях</h3></li>
          <li><a href="https://vk.com/oregagroup">Вконтакте</a></li>
          <li><a href="https://www.youtube.com/channel/UCz7i_zZW0iYAQRsA5jXnKwQ">YouTube</a></li>
        </ul>
        <ul>
          <li><h3>Свяжитесь с нами</h3></li>
          <li><a href="#">Партнёрство</a></li>
        </ul>
        <ul>
          <li><h3>Экосистема</h3></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </section>
      </div>
    </footer>
  </body>
</html>