<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/oregapass.css')}}" />
    <title>Orega Pass</title>
</head>
<body>
    <div class="container">
        <div class="lhs">
            <img src="" class="logo">
            <ul>
                <li><img src="">С Orega Plus можно выгодно ездить на Такси, покупать товары и еду из кафе, ресторанов и магазинов по выгодным ценам, без ограничений слушать музыку, смотреть фильмы и сериалы в высоком качестве и пользоваться другими предложениями. Для тех, кто в Плюсе, проводятся специальные акции, закрытые распродажи и мероприятия.Также подписка Orega Plus включает в себя доступ к сотням высококачественных игр. Играйте в игры с друзьями на консоли и ПК — и все это по одной низкой ежемесячной цене.</li>
            </ul>Pas
        </div>
        <div class="rhs">
            <h2><img src="">Orega Plus</h2>
            <form >
                <label for="free">
                    <input type="radio" name="radio" id="free">
                    <span>Пробный период (24 часа)</span>
                </label>
                <label for="paid">
                    <input type="radio" name="radio" id="paid">
                    <span>Платная подписка (1000₽)</span>
                </label>
                <button type="submit">Покупка подписки пока недоступна</button>
            </form>
        </div>
    </div>

</body>
</html>