<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Задачи до 2030 года</title>
    <meta name="description" content="Orega" />
    <meta name="keywords" content="Orega" />
    <meta name="author" content="Orega" />
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename = 'css/orega_media_holding_plans.css')}}" />
    <link rel="shortcut icon" href="static/img/3qx4kQolGtY.jpg" />
    <script
      src="https://kit.fontawesome.com/1e938fdd74.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <nav class="main-nav">
        <ul class="main-menu">
          <li><a href="/orega_media_holding">Orega-Медиа Холдинг</a></li>
        </ul>
      </nav>
      <header class="showcase">
        </a>
      </header>
      <section class="home-cards">
        <div>
          <img src="static/img/rL3kW.jpg" alt="" />
          <h3></h3>
          <p>
            Компания должна обогнать по чистой выручке The Walt Disney Company.
          </p>
        </div>
        <div>
          <img src="static/img/" alt="" />
          <p>
            Компания должна стать основным глобальным СМИ.
          </p>
        </div>
        <div>
          <img src="static/img/tv-logo-collage-1024x323.png" alt="" />
          <p>
            Запустить детский телеканал по всему и должен обогнать Сartoon Network Disney Channel and Nickelodeon.
          </p>
        </div>
      </section>
    </div>
    <section class="links">
      <div class="links-inner">
        <ul>
          <li><h3>Мы в социальных сетях</h3></li>
          <li><a href="https://vk.com/https://vk.com/orega_media_holding">Вконтакте</a></li>
          <li><a href="https://www.youtube.com/channel/UCz7i_zZW0iYAQRsA5jXnKwQ">YouTube</a></li>
        </ul>
        <ul>
          <li><h3>Свяжитесь с нами</h3></li>
          <li><a href="#">Партнёрство</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </section>
      </div>
    </footer>
  </body>
</html>