<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orega Ai</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/Orega.Ai.css')}}" />
    <link rel="shortcut icon" href="static/img/42.jpg" />
  </head>
  <body>
    <div class="container">
      <nav class="main-nav">
        <ul class="main-menu">
          <li><a href="/home">Orega</a></li>
          <li><a href="/robotics">Robotics</a></li>
          <li><a href="/cars">Self-Driving Cars</a></li>
          <li><a href="/plans">Задачи до 2030 года</a></li>
        </ul>
      </nav>
      <header class="showcase">
        </a>
      </header>
      <section class="home-cards">
        <div>
          <img src="static/img/B_75LLSaI3A.jpg" alt="" />
          <h3>Секретная презентация Y8 2023</h3>
          <p>
            15 августа наша команда представит совершенно новый продукт. Презентация начнётся ровно в 21:00 по Москве. Смотрите прямую трансляцию!
          </p>
          <a href="https://vk.com/y8_conference">Группа в ВКонтакте<i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="static/img/1-2020-09-23T182801.086.webp" alt="" />
          <h3>Наша команда готовит конкурента для ChatGPT?</h3>
          <p>
            Да, на онлайн-презентации наша команда представит конкурента ChatGPT.
          </p>
        </div>
      </section>
    </div>
    <section class="links">
      <div class="links-inner">
        <ul>
          <li><h3>Мы в социальных сетях</h3></li>
          <li><a href="https://vk.com/oregaai">Вконтакте</a></li>
          <li><a href="https://www.youtube.com/channel/UCz7i_zZW0iYAQRsA5jXnKwQ">YouTube</a></li>
        </ul>
        <ul>
          <li><h3>Свяжитесь с нами</h3></li>
          <li><a href="#">Партнёрство</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </section>
      </div>
    </footer>
  </body>
</html>